<div class="head-content">
  <label>Event List</label>
</div>
<hr style="border:3 dashed #ff0033" width="100%" SIZE=3>
<div class="main-content">
  <div class="event_list">
    <ul>
      <% @events.each do |key, values| %>
        <div id="<%= key %>" >
          <p> <%= key %> </p>

          <%= render partial: 'line', locals: { event: values.first } %>
          <%= render partial: 'event', locals: { event: values.first } %>

          <% values.each_cons(2) do |pre, cur|%>
            <% if show_hr(pre, cur) %>
              <%= render partial: 'line', locals: { event: cur } %>
            <% end %>
            <%= render partial: 'event', locals: { event: cur } %>
          <% end %>
          <br>
        </div>
      <% end %>
    </ul>
  </div>
</div>
