<% unless @project %>
  <% @project = todo.project %>
<% end %>
<li id="todo-content-<%= todo.id %>">
  <div class="todo-warp">
    <span>
      <%= link_to 'Delete', project_todo_path(@project, todo), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    </span>

    <% unless todo.done? %>
      <% if todo.pause? %>
        <span>
          <%= link_to 'Start', project_todo_path(@project, todo, {act: 1}), method: :patch, remote: true %>
        </span>
      <% else %>
        <span>
          <%= link_to 'Pause', project_todo_path(@project, todo, {act: 2}), method: :patch, remote: true %>
        </span>
      <% end %>
      <span>Edit</span>
      <span>
        <%= link_to 'Done', project_todo_path(@project, todo, {act: 10}), method: :patch, remote: true %>
      </span>
      <% unless todo.user %>
        <span>
          <button  type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-<%= todo.id %>"> 未指派 </button>
        </span>
      <% else %>
        <span>
          负责人: <%= todo.user.name %>
        </span>
        <button  type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-<%= todo.id %>"> 重新指派 </button>
      <% end %>
      <span>
        截止日期: <%= todo.end_day %>
        <button  type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myDate-<%= todo.id %>"> （重新）指定时间 </button>
      </span>

    <% else %>
      <span>
        <%= link_to 'Reopen', project_todo_path(@project, todo, {act: 4}), method: :patch, remote: true %>
      </span>
    <% end %>
    <span>
      <%= link_to todo.name + '(点击查看)', project_todo_path(@project, todo) %>
    </span>
    <div class="modal fade" id="myModal-<%= todo.id %>" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">指派给</h4>
          </div>
          <div class="modal-body">
            <%= form_for :appoint, url: todo_appoints_path(todo), remote: true do |f| %>
              <label>选择成员</label>
              <%= f.select :user, @project.members.select(:name, :id).map { |member| [member.name, member.id] } %>
              <div>
                <%= f.submit '提交', class: 'btn btn-info btn-sm' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myDate-<%= todo.id %>" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">指定截止日期</h4>
          </div>
          <div class="modal-body">
            <%= form_for :todo, url: project_todo_path(@project, todo), remote: true, method: :patch do |f| %>
              <label>选择日期</label>
              <%= f.text_field :deadline, 'data-provide': 'datepicker' %>
              <div>
                <%= f.submit '提交', class: 'btn btn-info btn-sm' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
<script type="text/javascript">
  $(document).on('page:reload', function(){
    $('.datepicker').datepicker();
  });
</script>
